
<div class="container" id="main">
    <h1>TO DO APPLICATION</h1>
    <br>
<form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
    <div class="form-group">
      <label for="task"></label>
      <input type="text" class="form-control" id="task"  placeholder="Enter Task" ngModel name="task" required>
      <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Required Field</small>
    </div>
    <button 
    [disabled]="taskForm.invalid"
    id="submitButton"  type="submit" class="btn btn-primary">Submit</button>
  </form> 

  <br>

  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Completed</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskArray; index as i">
        <td>{{task.taskName}}</td>
        <td> 
            <div>
            <input (change)="onCheck(i)" class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
        </div>
        </td>
        <td><button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>